
.buttonMiddle{
    background-color:#d8d4d4;
    border:none;
    border-radius: 5px;
    color:#6b6666; 
    cursor: pointer;
    height: 45px;
    float: left;
    font-family: Space Grotesk;
    font-size:1.2em;
    margin: 0 auto;
    padding-top: 5px;
    text-align:center;  
    width:18em; 
}
.buttonMiddle:hover {
    background-color: #8d8c8c;
    color: white;
}
.middle{
    margin: 0px auto auto 0px;
    border-radius: 5px;
    background-color: white;
    box-shadow:0px 4px 5px #707070;
    position: relative;
    width: 22.4em;
    top: -2px;
    left: 318px;
}
.imageMiddle{
    display: block;
    height: 4.5em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    width: 4.5em;
    float: right;
}
.title {
    color: #13227A;
    font-family: 'Space Grotesk';
    font-size: 30px;
    font-weight: 900;
    /*padding: 5px;
    padding-top:15px;
    padding-left:30px;*/
    padding: 0.5em;
    text-align: center;
}
.printing{
    height:80px;
    padding-left:20px;
    padding-top:10px;
    position:relative;
    width:80px;
}
.printingWhole{
    margin:10px auto; 
    padding-left:30px;
    padding-right:50px;
}